@import '../../.cache/wal/colors-waybar.css';

window {
    font-family: Fira Code Medium;
    font-size: 16pt;
    color:  @foreground; 
    background-color: rgba(24, 27, 32, 0.2);
    background-image: url("./icons/goodbye.jpg"); 
    background-repeat: no-repeat;
    background-position: center 20%; 
    background-size: 400px;

} 

button {
all: unset;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    background-color: transparent;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s ease-in;
    box-shadow: 0 0 10px 2px transparent;
    border-radius: 36px;
    
    margin: 40px;

}

button:focus {
    box-shadow: none;
    background-color: @color6; 
    background-size: 40%;
    border-radius: 30px;
    outline: none; 
    /* box-shadow: 0 0 15px rgba(255, 255, 255, 0.2); */
}

button:hover {
    background-size: 50%;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.4);
    background-color: @color6;
    color: transparent;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.5s ease-in;
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}
#shutdown:hover {
  background-image: image(url("./icons/power-hover.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));

}
#logout:hover {
  background-image: image(url("./icons/logout-hover.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}
#reboot:hover {
  background-image: image(url("./icons/restart-hover.png"));
}

#lock {
    background-image: image(url("./icons/lock.png"));
}
#lock:hover {
  background-image: image(url("./icons/lock-hover.png"));
}

#hibernate {
    background-image: image(url("./icons/sleep.png"));
}
#hibernate:hover {
  background-image: image(url("./icons/sleep-hover.png"));
}
